<ion-content>
  <ion-grid class="topRow">
    <ion-row>
      <ion-col class="col" col-8>
        <button (click)="toggleCam()" ion-fab class="fab-in-list show">
          <ion-icon [name]="offOnCam">
          </ion-icon>
        </button>
        <button (click)="toggleMic()" ion-fab class="fab-in-list show">
          <ion-icon [name]="offOnMic"></ion-icon>
        </button>
        <button (click)="toggleVolume()"  ion-fab class="fab-in-list show">
        <ion-icon [name]="offOnVolume" ></ion-icon>
        </button>
        <button (click)="changeUseCam()"  ion-fab class="fab-in-list show" [ngClass]="{'cannotToggleCam':!isSuportMultipCam}" [disabled]="!isSuportMultipCam"><!--*ngIf=""-->
          <ion-icon [name]="changeCam"></ion-icon>
        </button>
        <!--<button (click)="togglePullStream()" ion-fab class="fab-in-list show">-->
          <!--切拉流-->
        <!--</button>-->
      </ion-col>
      <ion-col class="col" col-4>
        <button float-start (click)="showLogs()" ion-fab class="fab-in-list show">
                    <span class="button-inner">
                        日志
                    </span>
        </button>
        <button float-start (click)="logoutRoom()" ion-fab class="fab-in-list show">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
    </ion-row>



  </ion-grid>
  <ion-grid class="subVideo">
    <ion-row>

      <ion-col col-sm-4>
        <ion-chip>
          <ion-label color="secondary">{{'me:'+publishStreamId }}({{status[publishStreamId]}})</ion-label>
        </ion-chip>
        <video #localVideo autoplay playsinline  muted></video>
      </ion-col>


        <ion-col col-sm-4 *ngFor="let item of useLocalStreamList; trackBy:identify;index as i">
          <ion-chip *ngIf="i<3">
            <ion-label color="secondary">{{item.stream_id}}({{status[item.stream_id]}})</ion-label>
          </ion-chip>
          <video *ngIf="i<3" #subVideo autoplay playsinline     data-id={{item.stream_id}}>
            您的浏览器不支持 video 标签。
          </video>
        </ion-col>

    </ion-row>

  </ion-grid>
  <!-- src="http://pgccdn.v.baidu.com/3337716901_83761796_20170531032328.mp4?authorization=bce-auth-v1%2Fc308a72e7b874edd9115e4614e1d62f6%2F2017-05-30T19%3A23%3A47Z%2F-1%2F%2F5a8adb11aa2b20434b210c4d2fc979753abe5a38ff04e1d96c5325778e1e67ae&responseCacheControl=max-age%3D8640000&responseExpires=Fri%2C+08+Sep+2017+03%3A23%3A47+GMT&xcode=d90c0acc47d113c5f0f17500bcc7c802177b04a1bd5d94b9&time=1524582502&_=1524496107805" controls="controls" -->
</ion-content>


